<div id="header">
    <nav>
        <a routerLink="">INÍCIO</a>
        <a routerLink="loja">LOJA</a>
        <a routerLink="vendas">VENDAS</a>
        <a routerLink="clientes">CLIENTES</a>
    </nav>
    <div id="itens" *ngIf="carrinho[0]">  
        <p id="total" *ngIf="carrinho[0]">Total: {{total}}</p>
        <div class="tag" *ngFor="let item; let i = index of carrinho">
            <p>{{item.nome}}</p>
            <div>
                <p>{{item.valor}}</p>
                <button (click)="removerDoCarrinho(i)"><img src="./assets/trash.png" alt=""></button>
            </div>
        </div>
    </div>
    <button (click)="finalizarCompra()" id="finalizar"  *ngIf="carrinho[0]">Finalizar compra</button>
</div>
