
#header{
    height: 100%px;
    background: var(--mainColor);
    width: 300px;    
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    position: fixed;
    top: 0;
    height: 100vh;
    img{
        width: 100px;
        margin: 32px;
    }
    nav{
        display: flex;
        flex-direction: column;
        margin-top: 64px;
    }
    nav a{
        color: white;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        transition: 0.3s;
        padding: 16px 24px;
        &:hover{
            padding: 16px 48px;

            background-color: var(--secondaryColor);
            color: white;
        }
    }
    #carrinho{
        border-radius: 100%;
        position: absolute;
        left: 32px;
        bottom: 128px;
        height: 63px;
        width: 63px;
        background-color: var(--secondaryColor);
        border: none;
        cursor: pointer;
        &:hover #itens{
            display: block;
        }
    img{
        height: 32px;
        width: 32px;
        position: absolute;
        bottom: -18px;
        right: -16px;
    }
    p{
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    }
    #itens{
        color: white;
        position: absolute;
        bottom: 200px;
        padding: 16px;
        left: 32px;
        border-radius: 4px;
        width: 250px;
        border: 1px solid rgb(160, 160, 160);
        background-color: var(--secondaryColor);
        max-height: 40vh;
        overflow: scroll;
        &::-webkit-scrollbar {
            background-color: var(--secondaryColor);   
            width: 4px;
            height: 100%;
            border-radius: 40px;

        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--mainColor);
            border-radius: 20px;
        }
        .tag{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            margin: 16px 0;
            color: aliceblue;
            button{
                padding: 4px 6px;
                cursor: pointer;
                border: none;
                background-color: transparent;
                border-radius: 4px;
                color: white;
                opacity: 0.8;
                &:hover{
                background-color: rgb(255, 85, 85);

                    opacity: 1;
                }
            }
        }
    }
    
}
@media (max-width:1000px) {
    #header{
        display: none;
    }
    
}