<div id="header">
    <nav>
        <a routerLink="">INÍCIO</a>
        <a routerLink="loja">LOJA</a>
        <a routerLink="vendas">VENDAS</a>
        <a routerLink="clientes">CLIENTES</a>
    </nav>
    <button id="carrinho" (click)="toggleCarrinho()">
        <img src="./assets/cart.png" alt="">
        <p>{{range || 0}}</p>
    </button>
    <div id="itens" *ngIf="mostrarCarrinho">
        <div *ngIf="!carrinho[0]">
            <h2>Nada por aqui</h2>
            <p>Comece a comprar agora</p>
        </div>
        <div class="tag" *ngFor="let item; let i = index of carrinho">
            {{item.nome}}
            <button (click)="removerDoCarrinho(i)">X</button>
        </div>
    </div>
</div>
