<div id="container">
    <app-title title="Loja" />
    <div id="produtos">
        <div class="tag-produto" *ngFor="let produto of produtos">
            <div>
                <h3>{{produto.nome_produto}}</h3>
                <p>{{produto.descricao_produto}}</p>
            </div>
            <div>
                <div id="inline">
                    <p>R${{produto.valor_produto}}</p>
                    <p>Quantidade: {{produto.quantidade_produto}}</p>
                </div>
                <button (click)="addCarrinho(produto.id_produto, produto.nome_produto)"><img src="./assets/icon-plus-white.png" alt=""></button>
            </div>
        </div>
    </div>
    <a [routerLink]="['cadastrar']" id="new"><img src="./assets/icon-plus-white.png" alt=""></a>

</div>