<div id="container">
<div id="container">
  <form (ngSubmit)="postVenda()" #formDir='ngForm'>
    <img src="../../../assets/logo.png" id="logo" alt="">
    <h2>Novo cliente</h2>

    <label for="nome">nome</label>
    <input type="text" name="nome" id="nome" placeholder="Nome" />

    <label for="telefone">Telefone</label>
    <input type="text" name="telefone" id="telefone" placeholder="Telefone"  />

    <label for="email">email</label>
    <input type="text" name="email" id="email" placeholder="E-mail" />

    <input type="submit" value="Cadastrar">

    <a routerLink="../../vendas">Cancelar</a>
  </form>
</div>
 
</div>