#main{
    margin: 32px 16px;
    margin-left: 316px;
    display: flex;
    flex-direction: column;
    h1{
        margin: 100px 0 32px 0;
    }

    a{
        color: gray;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #tag{
        padding: 16px 32px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.267);
        transition: 0.3s;
        border-radius: 10px;
        &:hover{
            background-color: rgb(243, 243, 243);
            color: var(--mainColor);
            
        }

        p{
            width: 20%;
            text-align: center;
        }
    }
    .title{
        font-weight: 700;
        color: black;

    }
}
@media (max-width: 1000px) {
    #main{
        margin: 0;
        width: 100%;
        padding: 32px 0;
        #tag{
            margin: 8px auto;
            flex-wrap: wrap;
            position: relative;
            p{
                width: 100%;
                text-align: left;
            }
            &:nth-child(2){
                display: none;
            }
            #cliente{
                font-size: 1.5rem;
                color: var(--mainColor);

            }
            #total{
                position: absolute;
                right: 32px;
                width: auto;

            }

        }
        #valor{
            display: none;
        }
        #desconto{
            display: none;
        }
    }
}
