
<div id="main">
    
  <main>
    <div id="first-fold">
      <img src="./assets/images/pexels-shivanshu-sharma-10810577.jpg" alt="" />
      <article data-aos="fade" data-aos-duration="2500">
        <p>
          A moda masculina tem evoluído muito nos últimos anos e os acessórios
          são uma parte importante desse processo.
        </p>
        <p
          style="
            font-size: 1.2rem;
            max-width: 80%;
            color: var(--secondaryColor);
          "
        >
          Os homens estão cada vez mais interessados em adicionar toques de
          estilo aos seus visuais e os acessórios são uma forma fácil e
          acessível de fazer isso.
        </p>
      </article>
    </div>
    <div id="cards">
      <div data-aos="fade-right" class="card" id="relogios">
        <h3>Relógios</h3>
        <p>
          Os relógios são um dos acessórios mais populares para homens. Além
          de serem funcionais, eles podem adicionar um toque de sofisticação.
          Existem muitos estilos diferentes de relógios disponíveis, desde os
          mais clássicos até os mais modernos e esportivos.
        </p>
      </div>
      <div data-aos="fade-right" class="card" id="colares">
        <h3>Colares</h3>
        <p>
          Colares masculinos são acessórios que podem variar em estilo,
          material e design, como correntes, pingentes, cordões e colares de
          contas. Permitem expressar personalidade e estilo, sendo utilizados
          como declarações de moda ou toques sutis. É importante considerar o
          contexto e a ocasião ao escolher e usar um colar masculino.
        </p>
      </div>
      <div data-aos="fade-right" class="card" id="pulseiras">
        <h3>Pulseiras</h3>
        <p>
          As pulseiras são outra opção popular de acessório masculino. Elas
          podem ser usadas sozinhas ou em conjunto com um relógio. Existem
          muitos tipos diferentes de pulseiras disponíveis, incluindo as de
          couro, metal e corda.
        </p>
      </div>
      <div data-aos="fade-right" class="card" id="aneis">
        <h3>Anéis</h3>
        <p>
          Anéis são acessórios usados ​​nos dedos, tanto por homens quanto por
          mulheres. Eles vêm em uma variedade de estilos e materiais, como
          ouro, prata, aço inoxidável e pedras preciosas. Os anéis podem ter
          diferentes significados, como alianças de casamento, símbolos
          religiosos ou simplesmente peças de moda. São uma forma de expressar
          estilo pessoal e podem ser usados ​​em diversas ocasiões, refletindo
          a personalidade de quem os usa.
        </p>
      </div>
    </div>
    <div id="about">

      <article>
        <h3>Sobre</h3>
        <p>
          Somos uma empresa voltada a moda masculina, especializada em
          oferecer acessórios e vestuário incríveis para homens de todas as
          idades. Se você está em busca de estilo, personalidade e qualidade,
          você está no lugar certo.
        </p>
        <p>
          Nós entendemos que cada homem é único, com seu próprio estilo e gostos
          individuais. É por isso que nossa missão é proporcionar uma ampla
          variedade de acessórios para atender a todos os públicos masculinos. 
          Seja qual for a sua idade, profissão ou
          ocasião, temos algo especial para você.
        </p>
          <p>
          A qualidade é uma prioridade para nós. Trabalhamos com os melhores
          fornecedores e utilizamos materiais de alta qualidade em todos os
          nossos produtos. Isso garante que você esteja adquirindo acessórios
          duráveis, confortáveis e estilosos, que complementarão perfeitamente o
          seu visual.
        </p>
        
        <p>
          Além disso, nós nos preocupamos com a experiência de compra
          dos nossos clientes. Nossa equipe está sempre pronta para ajudá-lo,
          fornecendo um atendimento personalizado e um suporte excepcional.
          Queremos garantir que você tenha uma experiência satisfatória e
          memorável ao escolher seus acessórios conosco.
        </p>
        <p>
          Em breve, estaremos prontos para atender você. Fique de olho em nosso
          site e em nossas redes sociais para receber as últimas atualizações
          sobre nossa inauguração. Prepare-se para se destacar com a BARFIM - FOR
          MEN!
        </p>
      </article>
      <aside>
        <img src="./assets/images/pexels-gustavo-trotta-13789974.jpg" alt="">
      </aside>
    </div>
  </main>
  <footer id="footer">      
    <div id="social">
      <a href="http://instaigram.com/barfim.digital" target="_blank" rel="noopener noreferrer"> <img src="./assets/images/social_media/instagram.png" alt=""></a>
      <a href="https://wa.me/5581997064742" target="_blank" rel="noopener noreferrer"><img src="./assets/images/social_media/WhatsApp.webp" alt=""></a>
    </div>
    <small>
      Essa página utiliza imagens do 
      <a href="http://www.pexels.com" target="_blank">PEXELS</a>
    </small>
  </footer>
</div>
