button{
    background-color: transparent;
    border: none;
    height: 48px;
    width: 48px;
    font-size: 2rem;
    margin-bottom: 64px;
    cursor: pointer;
    img{
        height: 100%;
    }
}